@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins", "Lucida Sans", "Lucida Sans Regular",
        "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-size: var(--normal-fontsize-mobile);
}

:root {
    font-size: 16px;
    scroll-behavior: smooth;
    --first-color: #8b52ff;
    --second-color: #ff52ae;
    --gradient-color: linear-gradient(73deg, #ff52af 11.6%, #9f53ff 83.86%);
    --background-light: #f5f0ff;
    --background-dark: #14092a;
    --title-color: #220953;
    --dark-title-color: #d1c0f1;
    --text-color: #4b3e65;
    --dark-text-color: #a094b8;
    --white-color: #fff;
    --first-color-light: #e5d9fd;
    --normal-fontsize-mobile: 0.938rem;
    --big-fontsize-mobile: 1.75rem;
    --bigger-fontsize-mobile: 2rem;
    --small-fontsize-mobile: 0.813rem;
    --noraml-fontsize-desktop: 1rem;
    --biggest-fontize-desktop: 6rem;
    --bigger-fontsize-desktop: 4rem;
    --big-fontsize-desktop: 3.5rem;
}

i {
    font-size: inherit;
    color: inherit;
}

h1,
h2 {
    font-family: "Lora", "Times New Roman", Times, serif;
    color: var(--title-color);
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 1.25rem;
}

body {
    background-color: var(--background-light);
}

main {
    padding: 30px 24px;
}

header {
    padding: 15px 24px;
    display: flex;
    justify-content: space-between;
}

header .logo {
    background: var(--gradient-color);
    background-clip: text;
    color: transparent;
    font-family: "Lora", "Times New Roman", Times, serif;
    font-size: 1.25rem;
    font-weight: 500;
    max-width: fit-content;
}

.desktopNavigation {
    display: none;
}

.headerUtilities {
    display: flex;
    gap: 22px;
}

.toggleColor {
    width: 24px;
    height: 24px;
    background-image: url("./assets/imgs/icon/moon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#toggleColorCheckbox {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.toggleMenu {
    width: 24px;
    height: 24px;
    background-image: url("./assets/imgs/icon/menu-light.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#toggleMenuCheckbox {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.openMenu {
    font-weight: 500;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(16px);
    flex-direction: column;
    padding: 16px 24px;
    gap: 32px;
    display: none;
}

.openMenu label {
    align-self: flex-end;
    font-size: 1.5rem;
}

.openMenu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    gap: 48px;
}

.openMenu ul li a:link,
.openMenu ul li a:visited {
    text-decoration: none;
    color: var(--title-color);
}

#currentPage {
    background: var(--gradient-color);
    background-clip: text;
    color: transparent;
    max-width: fit-content;
}

.introSection {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 32px;
    padding-top: 32px;
}

.introSection h1 {
    font-weight: 400;
    line-height: 135%;
}

.introSection h1 span {
    font-size: inherit;
    font-family: inherit;
    color: var(--white-color);
    padding: 4px 13px;
    background: var(--gradient-color);
    border-radius: 8px;
    display: inline-block;
    transform: rotate(10deg);
}

.introSection .textContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 20px;
}

.starHome {
    position: absolute;
    top: 30%;
    left: 8%;
    z-index: -1;
}

.circleHome {
    position: absolute;
    top: 63%;
    left: 78%;
    z-index: -1;
}

.textContent button {
    background: var(--gradient-color);
    padding: 16px 28px;
    max-width: fit-content;
    border: none;
    color: var(--white-color);
    border-radius: 64px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.textContent button i {
    font-size: inherit;
    color: var(--white-color);
}

.introSection .textContent .statistics {
    font-family: "Lora", "Times New Roman", Times, serif;
    font-size: var(--small-fontsize-mobile);
    color: var(--title-color);
    display: flex;
    gap: 50px;
}

.textContent .statistics > div p:first-child {
    font-size: var(--big-fontsize-mobile);
}

.adSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.listYoga {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.listYoga p {
    font-size: var(--big-fontsize-mobile);
    font-family: "Lora", "Times New Roman", Times, serif;
    font-weight: 500;
    color: var(--title-color);
}

.listYoga img {
    max-width: 70%;
}

.adSection .paragraphContent {
    position: relative;
    text-align: center;
    padding-top: 34px;
}

.adSection .paragraphContent img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.adSection button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    min-width: 150px;
    min-height: 150px;
    background: var(--gradient-color);
    background-clip: text;
    color: transparent;
    border: none;
    position: relative;
    text-align: center;
}

.adSection button i {
    background: var(--gradient-color);
    background-clip: text;
    color: transparent;
    border: none;
    max-width: fit-content;
}

.adSection button::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("./assets/imgs/icon/ellipse.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.healthSection {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.healthSection .textContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
}

.healthSection h2 {
    font-size: var(--bigger-fontsize-mobile);
    font-weight: 400;
    text-align: center;
}

.healthImage {
    position: relative;
}

.healthImage img {
    max-width: 100%;
}

.healthImage > div {
    background-color: var(--white-color);
    padding: 8px 12px;
    border-radius: 12px;
    max-width: fit-content;
    font-weight: 500;
    position: absolute;
}

.healthImage > div h4 {
    font-weight: 500;
}

.healthImage > div p {
    background: var(--gradient-color);
    background-clip: text;
    color: transparent;
    max-width: fit-content;
}

.heartRate {
    display: flex;
    align-items: center;
    gap: 8px;
    top: 20%;
}

.coursesNum {
    bottom: 10%;
    right: 0;
}

.heartRate img {
    background-color: #ffe6e5;
    border-radius: 100%;
    padding: 8px;
}

/* first-section */
.routine-container {
    padding: 32px 0;
}

.data-routine {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.routine-title-area {
    font-family: "Lora", serif;
    font-size: 2rem;
    text-align: center;
    color: #220953;
}

.routine-content-area {
    font-family: "Poppins", sans-serif;
    font-size: 0.938rem;
    text-align: center;
    margin-top: 8%;
    color: #4b3e65;
}

.routine-bt {
    display: flex;
    justify-content: center;
}

.routine-bt button {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, #ff52af 0%, #9f53ff 100%);
    border: none;
    border-radius: 64px;
    color: #ffffff;
    font-weight: 500; /* medium */
    font-size: 0.938rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 50px;
    gap: 0.5rem;
    width: 60%;
    margin-top: 10%;
}

.imgs-routine {
    height: auto;
    max-height: 300px;
}

.routine-img1 {
    position: relative;
    left: 16px;
    width: 77%;
    max-width: 300px;
    z-index: 2;
}

.video-area {
    background-color: #ffffff;
    border: none;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 50px;
    gap: 0.5rem;
    padding: 12px 8px;
    width: 50%;
    position: relative;
    left: 147px;
    top: -155px;
    z-index: 3;
    max-width: fit-content;
}

.video-area p {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, #ff52af 0%, #9f53ff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 0.813rem;
}

.routine-img2 {
    position: relative;
    left: 66px;
    top: -122px;
    width: 77%;
    max-width: 300px;
    z-index: 1;
}

.trainer-area {
    background-color: #ffffff;
    border: none;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 50px;
    gap: 0.5rem;
    padding: 12px 8px;
    width: 52%;
    position: relative;
    left: 30px;
    top: -200px;
    z-index: 3;
    max-width: fit-content;
}

.trainer-area p {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, #ff52af 0%, #9f53ff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 0.813rem;
}

/* second-section */
.follow-container {
    padding: 32px 0;
}

.group-content-follow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 1.5rem;
}

.title-bt-box {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.follow-title p {
    font-family: "Lora", serif;
    font-size: 2rem;
    text-align: center;
    color: #220953;
}

.gradient-tag {
    font-family: "Lora", serif;
    font-size: 2rem;
    text-align: center;
    background: linear-gradient(to right, #ff52af 0%, #9f53ff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.follow-bt {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, #ff52af 0%, #9f53ff 100%);
    border: none;
    border-radius: 64px;
    color: #ffffff;
    font-weight: 500; /* medium */
    font-size: 0.938rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 88px;
    height: 88px;
}

.first-follow-imgs {
    width: 100%;
}

.follow-yoga-1 {
    padding-top: 15%;
    width: 100%;
}

.second-follow-imgs {
    width: 100%;
}

.follow-yoga-2 {
    padding-top: 50%;
    width: 100%;
}

.imgs-follow-group2 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.follow-yoga-3 {
    padding-left: 6%;
    width: 79%;
}

.follow-yoga-4 {
    padding-left: 25%;
    width: 100%;
}

/* third-section */
.join-container {
    padding: 32px 0 48px 0;
}

.join-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: linear-gradient(to right, #ff52af 0%, #9f53ff 100%);
    border: none;
    border-radius: 32px;
    height: auto;
    min-height: 400px;
    padding: 40px 20px;
}

.join-title {
    font-family: "Lora", serif;
    font-size: 1.75rem;
    color: #ffffff;
    text-align: center;
}

.join-content {
    font-family: "Poppins", sans-serif;
    font-size: 0.938rem;
    color: #f5f0ff;
    text-align: center;
}

.send-box {
    margin-top: 5%;
}

.search-join input {
    width: 100%;
    height: auto;
    min-height: 64px;
    border: none;
    border-radius: 48px;
    padding-left: 22px;
    color: #a197b4;
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
}

.search-join input::placeholder {
    color: #a197b4;
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
}

.search-join button {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, #ff52af 0%, #9f53ff 100%);
    border: none;
    border-radius: 64px;
    color: #ffffff;
    font-weight: 500; /* medium */
    font-size: 0.938rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 64px;
    gap: 0.75rem;
    width: 100%;
    box-shadow: 0 4px 12px rgba(91, 10, 255, 0.25);
    margin-top: 5%;
}

/* footer */
#footer {
    background-color: #1e0849;
    padding: 0;
}

.ft-top {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.ft-container {
    padding: 48px 24px 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.content-ft-logo {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.content-ft-logo-title {
    font-family: "Lora", serif;
    font-size: 1.25rem;
    display: inline-block;
    width: 50px;
    background: linear-gradient(to right, #ff52af 0%, #9f53ff 100%);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-ft-logo-info {
    font-family: "Poppins", sans-serif;
    font-size: 0.938rem;
    color: #a197b4;
    width: 66%;
}

.contents-ft {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.each-content-ft {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.ft-address,
.ft-contact,
.ft-office {
    font-family: "Lora", serif;
    font-size: 1.25rem;
    color: #ffffff;
}

.ft-address-info,
.ft-contact-info,
.ft-office-info {
    font-family: "Poppins", sans-serif;
    font-size: 0.938rem;
    color: #a197b4;
    width: 48%;
}

.line-ft {
    border: 1px solid #a197b4;
}

.ft-bottom {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.social-ft {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

.copy-ft {
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    color: #a197b4;
    text-align: center;
}

.backToTop {
    display: none;
}

/* DESKTOP */

@media screen and (min-width: 1440px) {
    * {
        font-size: var(--noraml-fontsize-desktop);
    }

    header {
        padding: 23px 165px;
    }

    header .logo {
        font-size: 1.5rem;
    }

    .desktopNavigation {
        display: block;
    }

    .desktopNavigation ul {
        list-style: none;
        display: flex;
        gap: 46px;
    }

    .desktopNavigation > ul > li {
        position: relative;
    }

    .desktopNavigation > ul li a:link,
    .desktopNavigation ul li a:visited {
        text-decoration: none;
        font-weight: 500;
    }

    .desktopNavigation > ul li a:hover {
        background: var(--gradient-color);
        background-clip: text;
        color: transparent;
        max-width: fit-content;
    }

    .desktopNavigation > ul > li:hover > .moreOptions {
        display: block;
    }

    .desktopNavigation .moreOptions {
        display: none;
        position: absolute;
        z-index: 1;
        background: var(--background-light);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        left: 50%;
        top: 110%;
        transform: translateX(-50%);
    }

    .desktopNavigation .moreOptions > ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 6px;
        text-align: center;
    }

    .desktopNavigation .moreOptions > ul > li {
        width: max-content;
        padding: 3px 10px;
    }

    .toggleMenu {
        display: none;
    }

    main {
        padding: 30px 165px;
    }

    .introSection {
        flex-direction: row;
        align-items: center;
    }

    .introSection .textContent {
        text-align: left;
        align-items: flex-start;
        width: 50%;
        gap: 48px;
    }

    .introSection h1 {
        font-size: var(--biggest-fontize-desktop);
        font-weight: 500;
    }

    .starHome {
        top: 20%;
        left: 85%;
        width: 95px;
    }

    .circleHome {
        top: 55%;
        left: -5%;
        width: 24px;
    }

    .introSection > img {
        width: 50%;
    }

    .textContent .statistics > div {
        text-align: center;
    }

    .textContent .statistics > div p:first-child {
        font-family: "Lora", "Times New Roman", Times, serif;
        font-size: var(--big-fontsize-desktop);
    }

    .adSection {
        flex-direction: row;
        gap: 48px;
    }

    .listYoga p {
        font-size: var(--big-fontsize-desktop);
    }

    .adSection .paragraphContent {
        text-align: left;
    }

    .adSection .paragraphContent img {
        left: -5%;
    }

    .healthSection {
        flex-direction: row;
        gap: 32px;
    }

    .healthSection .healthImage {
        order: -1;
        max-width: 45%;
    }

    .healthSection .textContent {
        text-align: left;
        align-items: flex-start;
        justify-content: center;
        gap: 40px;
    }

    .healthSection .textContent h2 {
        font-size: var(--bigger-fontsize-desktop);
        text-align: left;
    }

    .heartRate {
        top: 15%;
        left: 10%;
    }

    /* first-section */
    .routine-container {
        padding: 48px 0;
    }

    .routine-container-area {
        display: flex;
        gap: 4rem;
    }

    .data-routine {
        width: 43%;
        margin: 77px 0;
    }

    .routine-title-area {
        font-size: 4rem;
        text-align: start;
    }

    .routine-content-area {
        font-size: 1rem;
        text-align: start;
    }

    .routine-bt {
        justify-content: normal;
    }

    .routine-bt button {
        font-size: 1rem;
        min-height: 60px;
        width: 48%;
    }

    .imgs-routine {
        width: 60%;
    }

    .routine-img1 {
        left: 5%;
        top: -3%;
        width: 85%;
        max-width: 5000px;
    }

    .video-area {
        width: 32%;
        left: 66%;
        top: -91%;
    }

    .video-area p {
        font-size: 1rem;
    }

    .routine-img2 {
        left: 18%;
        top: -60%;
        width: 85%;
        max-width: 5000px;
    }

    .trainer-area {
        width: 33%;
        left: 14%;
        top: -98%;
    }

    .trainer-area p {
        font-size: 1rem;
    }

    /* second-section */
    .follow-container {
        padding: 48px 0;
    }

    .group-content-follow {
        display: flex;
        gap: 4rem;
    }

    .follow-title p {
        font-size: 4rem;
    }

    .gradient-tag {
        font-size: 4rem;
    }

    .title-bt-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 9%;
        order: 2;
    }

    .first-follow-imgs {
        order: 1;
        width: 45%;
    }

    .follow-yoga-1 {
        width: 280px;
        padding-top: 0;
        width: 100%;
    }

    .second-follow-imgs {
        order: 3;
        width: 45%;
    }

    .follow-yoga-2 {
        width: 280px;
        padding-top: 0;
        width: 100%;
    }

    .imgs-follow-group2 {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .follow-yoga-3 {
        width: 500px;
        padding-left: 0;
    }

    .follow-yoga-4 {
        width: 500px;
        padding-left: 0;
    }

    /* third-section */
    .join-container {
        padding: 48px 0 88px 0;
    }

    .join-form {
        min-height: 350px;
        padding: 64px 250px;
    }

    .join-title {
        font-size: 3.5rem;
    }

    .search-join {
        position: relative;
        width: 85%;
        margin: 0 auto;
    }

    .search-join input {
        padding: 0 22px;
        padding-right: 140px;
    }

    .search-join input::placeholder {
        font-size: 0.813rem;
    }

    .search-join button {
        position: absolute;
        top: 50%;
        right: 16%;
        transform: translate(50%, -50%);
        font-size: 1rem;
        min-height: 50px;
        gap: 0.5rem;
        padding: 12px 24px;
        margin-top: 0;
        width: 29%;
    }

    /* footer */
    .ft-top {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .ft-container {
        padding: 64px 165px;
        gap: 3rem;
    }

    .content-ft-logo {
        gap: 2.5rem;
    }

    .content-ft-logo-title {
        font-size: 1.5rem;
        width: 60px;
    }

    .content-ft-logo-info {
        font-size: 1rem;
        width: 61%;
    }

    .contents-ft {
        flex-direction: row;
        gap: 4.5rem;
        margin-right: 4%;
    }

    .each-content-ft {
        gap: 2.5rem;
    }

    .ft-address,
    .ft-contact,
    .ft-office {
        font-size: 1.25rem;
    }

    .ft-address-info,
    .ft-contact-info,
    .ft-office-info {
        font-size: 1rem;
        width: 91%;
    }

    .ft-bottom {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .social-ft {
        gap: 2rem;
    }

    .copy-ft {
        font-size: 0.813rem;
    }

    .backToTop {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        position: fixed;
        right: 2%;
        bottom: 5%;
        background: var(--gradient-color);
        color: var(--white-color);
        padding: 6px;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        aspect-ratio: 1/1;
        cursor: pointer;
    }
}

/* DARK THEME */

body:has(#toggleColorCheckbox:checked) {
    background-color: var(--background-dark);
}

body:has(#toggleColorCheckbox:checked) h1,
body:has(#toggleColorCheckbox:checked) h2 {
    color: var(--dark-title-color);
}

body:has(#toggleColorCheckbox:checked) p {
    color: var(--dark-text-color);
}

body:has(#toggleColorCheckbox:checked) .toggleColor {
    background-image: url("./assets/imgs/icon/sun.svg");
}

body:has(#toggleColorCheckbox:checked) .toggleMenu {
    background-image: url("./assets/imgs/icon/menu-dark.svg");
}

body:has(#toggleColorCheckbox:checked) .desktopNavigation > ul > li a:link,
body:has(#toggleColorCheckbox:checked) .desktopNavigation > ul > li a:visited {
    color: var(--dark-text-color);
}

body:has(#toggleColorCheckbox:checked) .desktopNavigation ul li a:hover {
    background: var(--gradient-color);
    background-clip: text;
    color: transparent;
    max-width: fit-content;
}

body:has(#toggleColorCheckbox:checked) .desktopNavigation .moreOptions {
    color: var(--text-color);
    background-color: var(--dark-title-color);
}

body:has(#toggleColorCheckbox:checked)
    .desktopNavigation
    .moreOptions
    > ul
    > li
    > a:link,
body:has(#toggleColorCheckbox:checked)
    .desktopNavigation
    .moreOptions
    > ul
    > li
    > a:visited {
    color: var(--title-color);
}

body:has(#toggleColorCheckbox:checked)
    .desktopNavigation
    .moreOptions
    > ul
    > li
    > a:hover {
    color: transparent;
}

body:has(#toggleColorCheckbox:checked) .openMenu {
    background-color: rgba(26, 26, 26, 0.3);
}

body:has(#toggleColorCheckbox:checked) .healthImage > div p {
    color: transparent;
}

body:has(#toggleColorCheckbox:checked) .openMenu ul li a:link,
body:has(#toggleColorCheckbox:checked) .openMenu ul li a:visited {
    color: var(--dark-title-color);
}

body:has(#toggleColorCheckbox:checked) #currentPage {
    color: transparent;
}

body:has(#toggleMenuCheckbox:checked) .openMenu {
    display: flex;
}

body:has(#toggleMenuCheckbox:checked) .openMenu label i {
    color: var(--dark-title-color);
}
