@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins", "Lucida Sans", "Lucida Sans Regular",
        "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-size: var(--normal-fontsize);
}

:root {
    font-size: 16px;
    --first-color: #8b52ff;
    --second-color: #ff52ae;
    --gradient-color: linear-gradient(73deg, #ff52af 11.6%, #9f53ff 83.86%);
    --background-light: #f5f0ff;
    --background-dark: #14092a;
    --title-color: #220953;
    --text-color: #4b3e65;
    --white-color: #fff;
    --normal-fontsize: 0.938rem;
    --big-fontsize: 1.75rem;
    --small-fontsize: 0.813rem;
}

h1,
h2,
h3,
h4 {
    font-family: "Lora", "Times New Roman", Times, serif;
    color: var(--title-color);
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 1.25rem;
}

body {
    background-color: var(--background-light);
}

main {
    padding: 30px 24px;
}

header {
    padding: 15px 24px;
    display: flex;
    justify-content: space-between;
}

header .logo {
    background: var(--gradient-color);
    background-clip: text;
    color: transparent;
    font-family: "Lora", "Times New Roman", Times, serif;
    font-size: 1.25rem;
    font-weight: 500;
}

.headerUtilities {
    display: flex;
    gap: 22px;
}

.toggle {
    width: 24px;
    height: 24px;
    background-image: url("./assets/imgs/icon/moon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#toggleCheckbox {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.menu {
    width: 24px;
    height: 24px;
    background-image: url("./assets/imgs/icon/menu-light.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.introSection {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.introSection h1 {
    font-weight: 400;
    line-height: 135%;
}

.introSection h1 span {
    font-size: inherit;
    font-family: inherit;
    color: var(--white-color);
    padding: 4px 13px;
    background: var(--gradient-color);
    border-radius: 8px;
    display: inline-block;
    transform: rotate(10deg);
}

.introSection .textContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.introSection .textContent button {
    background: var(--gradient-color);
    padding: 16px 28px;
    max-width: fit-content;
    border: none;
    color: var(--white-color);
    border-radius: 64px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.introSection .textContent button i {
    font-size: inherit;
    color: var(--white-color);
}

.textContent .statistics {
    font-size: var(--small-fontsize);
    color: var(--title-color);
    display: flex;
    gap: 50px;
}

.textContent .statistics > div p:first-child {
    font-size: var(--big-fontsize);
}

body:has(#toggleCheckbox:checked) {
    background-color: var(--background-dark);
}

body:has(#toggleCheckbox:checked) .toggle {
    background-image: url("./assets/imgs/icon/sun.svg");
}

body:has(#toggleCheckbox:checked) .menu {
    background-image: url("./assets/imgs/icon/menu-dark.svg");
}
